# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Environments
.env
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Static and Media (if generated)
staticfiles/
media/
